.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width: 10px;
    background-image:url(original.gif);
    border-style: ridge;
    border-color:darkviolet;
}

